{volist name="categoryProducts" id="data"}
<div class="col-sm-3">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <img src="__STATIC__/upload/{$data.pImg}" alt="" />
                <h2>￥{$data.pPrice}</h2>
                <p>{$data.pName}</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
            </div>
        </div>
    </div>
</div>
{/volist}
